# Ignore Python Portable Environment
python-*/
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
.env
.vscode/
.idea/
venv/

# Ignore local environment files
*.env
*.local

# Ignore backup and temporary files
*.bak
*.tmp
*.temp
*.swp
*.swo
*.~lock.*
data/test_records.db

# Ignore compiled files
*.dll
*.exe
*.pdb
*.cache
